<h1>List of All Challenges</h1>

<ul>
    <%@challenges.each do |challenge|%>
        <li><%=link_to(challenge.name, challenge_path(challenge))%></li>
    <%end%>
</ul>

<%= link_to("Create a New Challenge", new_challenge_path)%><br/>
<%= link_to("Challenge Quest Profiles", users_path)%><br/>
<%= link_to("Challenge Quest Homepage", "/")%><br/>
