    
    <center>
     <h1>List of All Challenges</h2>
    </center>

    
    <center>
        <div id="challenges">
        <%@challenges.each do |challenge|%>
            <p><%=link_to(challenge.name, challenge_path(challenge))%></p>
        <%end%>
        </div>
    </center>

    
<center>
    <div id="links">
        <p><%= button_to("Create a New Challenge", new_challenge_path, method: :get)%></p>
    
</div>
</center>


