<h1>Individual Challenge Page</h1>

<%= link_to("Edit Your Challenge", edit_challenge_path)%><br/>
<%= link_to("List of All Challenges", challenges_path)%><br/>
<%= link_to("Challenge Quest Homepage", "/")%><br/>