<div id="ProfilePage">
    Challenge Information
</div>

<div id="header">
    Name:
</div> 
<div id="content">
    <%=@challenge.name%>
</div>

<div id="header">
    Category:
</div>
<div id="content">
    <%=@challenge.category%>
</div>

<div id="header">
    Description:
</div>
<div id="content">
    <%=@challenge.description%>
</div>

<%= link_to("Accept Challenge", attempts_path(:challenge_id => @challenge), :method => :post) %><br/>