body {
    background-color: #ECF0F1;
  }
  
  #outsidecontainer {
      width: 500px;
      padding: 50px;
      margin: auto
      
  }
  
  #form_tag {
      width: 250px;
      margin-top: -200px;
  }

  #logo {
    margin-top: -93px
  }

  #title {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: auto;
      margin-left: auto;
      padding-top: 150px
  }

  #or {
    margin-top: 15px
  }
  #create_profile {
      margin-top: 25px
  }