<center>
    <h1>List of All Achievements</h1>
</center>

    <center>
        <div id="achievements">
    <%@achievements.each do |achievement|%>
        
            <p><%=link_to(achievement.name, achievement_path(achievement))%></p>
        
    <%end%>
        </div>
    </center>