
<div id="ProfilePage">
    Achievement Information
</div>


<div id="header">
    Name:
</div>
<div id="content">
    <%=@achievement.name%>
</div>

<div id="header">
    Description:
</div> 
<div id="content">
    <%=@achievement.description%>
</div>

